<div class="container">
  <mat-card>
    <form [formGroup]="addEmployeeForm" autocomplete="off" novalidate (ngSubmit)="createEmployee()">
      <mat-card-content>

        <mat-grid-list cols="1" rowHeight="50px">
          <mat-grid-tile>
            <mat-form-field [floatLabel]="options.value.floatLabel">
              <input matInput placeholder="Please input Firstname" formControlName="firstNameInput" required />
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field [floatLabel]="options.value.floatLabel">
              <mat-label>Please input Lastname</mat-label>
              <input matInput placeholder="Please input Lastname" formControlName="lastNameInput" required />
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field [floatLabel]="options.value.floatLabel">
              <mat-label>Please input age</mat-label>
              <input matInput placeholder="Please input age" formControlName="ageInput" required />
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field [floatLabel]="options.value.floatLabel">
              <mat-label>Please input email</mat-label>
              <input matInput placeholder="Please input email" formControlName="emailInput" required />
            </mat-form-field>
          </mat-grid-tile>

        </mat-grid-list>









      </mat-card-content>

      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!addEmployeeForm.valid">
          Create
        </button>
        <button type="button" mat-raised-button color="warn" (click)="onCancel()">
          Cancel
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>