.container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container > * {
  width: 80%;
  margin: 0 auto;
}

.container form {
  margin-top: 120px;
  margin-bottom: 20px;
}

.container form > * {
  margin: 5px 0;
}

.container .mat-radio-button {
  margin: 0 12px;
}

mat-form-field{
    width: 400px;
}